aiohttp==3.8.0
aiosignal==1.2.0
apptools==5.1.0
async-timeout==4.0.0
asynctest==0.13.0
attrs==21.2.0
charset-normalizer==2.0.7
configobj==5.0.6
cvxpy==1.1.17
cycler==0.11.0
ecos==2.0.7.post1
envisage==6.0.1
euclid3==0.1
frozenlist==1.2.0
idna==3.3
importlib-metadata==4.8.1
importlib-resources==5.4.0
kiwisolver==1.3.2
matplotlib==3.4.3
mayavi==4.7.3
multidict==5.2.0
networkx==2.6.3
numpy==1.21.4
osqp==0.6.2.post0
Pillow==8.4.0
pyface==7.3.0
Pygments==2.10.0
pykdtree==1.3.4
pyparsing==3.0.4
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
python-dateutil==2.8.2
qdldl==0.1.5.post0
rrtpp @ git+https://github.com/rland93/rrt_pathplanner@c4ab7671854c6f1ac74b8b6033a07920391a8ed3
scipy==1.7.2
scs==2.1.4
six==1.16.0
tqdm==4.62.3
traits==6.3.1
traitsui==7.2.1
typing-extensions==3.10.0.2
vtk==8.1.2
wslink==1.1.0
yarl==1.7.2
zipp==3.6.0
